
                          <ul>
                            <li><a href="https://www.facebook.com/themetorium" class="btn btn-social-min btn-default btn-link" title="{{ __('footer.social_media.follow_me_on') }} Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://www.instagram.com/kintus_photo/" class="btn btn-social-min btn-default btn-link" title="{{ __('footer.social_media.follow_me_on') }} Instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="https://twitter.com/TusNeon" class="btn btn-social-min btn-default btn-link" title="{{ __('footer.social_media.follow_me_on') }} Twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            {# <li><a href="https://plus.google.com/+SiiliOnu" class="btn btn-social-min btn-default btn-link" title="{{ __('footer.social_media.follow_me_on') }} Google+" target="_blank"><i class="fab fa-google-plus-g"></i></a></li> #}
                            {# <li><a href="https://www.pinterest.com/themetorium" class="btn btn-social-min btn-default btn-link" title="{{ __('footer.social_media.follow_me_on') }} Pinterest" target="_blank"><i class="fab fa-pinterest-p"></i></a></li> #}
                            {# <li><a href="https://dribbble.com/Themetorium" class="btn btn-social-min btn-default btn-link" title="{{ __('footer.social_media.follow_me_on') }} Dribbble" target="_blank"><i class="fab fa-dribbble"></i></a></li> #}
                            <li><a href="/contact" class="btn btn-social-min btn-default btn-link" title="Drop me a line" target="_blank"><i class="fas fa-envelope"></i></a></li>
                        </ul>